<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title templates</title>
</head>
<body>
<form method="post" id="userform" action="/user/login">
    <label>姓名：</label>
    <input id="name" name="name" type="text" align="center"><br>
    <label>密码：</label>
    <input id="password" name="password" type="password" align="center"><br>
    <input id="sub" type="submit" value="登录">
</form>
</body>
</html>